__pycache__/*.pyc
*.pyc
secret.json
*.xlsx
temp_images/*.png
.vscode/ipch/**/*.bin
~*.docx
~*.tmp
Cubs-Signin.docx
Keas-Signin.docx
Cubs-Badge Report.docx
Keas-Badge Report.docx
Cubs Sign in Sheet - *.docx
Keas Sign in Sheet - *.docx
